* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
    height: 100vh;
    width: 100%;
    background-image: url("backg.gif");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    color: white;
    border: none;
    background-color: transparent;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: 0.5s;
}

.links:hover {
    color: #2f78b0;
    text-decoration: underline;
}

#CO_box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#CO {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#text-container {
    margin-bottom: 20px;
}

#text {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}

#text:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.button_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    height: 55px;
    width: 160px;
    color: #fff;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}

#button-1 {
    margin-right: 20px;
}