*{
    box-sizing: border-box;
}

    html,
    body{
        height: 100%;
    }

    body {
        display: grid;
        place-items: center;
        margin: 0;
        padding: 0 20px;
        background: #5d646b;
        font-family: "Brush Script MT(cursive)";
    }

    button{
        border: 0;
        width: 50%;
        height: 50px;
        background: transparent;
        font-family: inherit;
        font-size: 16px;
        outline: none;
    }

    input {
        border: 0;
        width: 100%;
        height: 60px;
        background: transparent;
        font-family: inherit;
        font-size: 16px;
        outline: none;
      }

    @keyframes logto{
        100% {
            translate: -50vw -55vh;
            scale: 1 1.1;
        }
    }
    .logto{
        position: fixed;
        top: 30%;
        left: 0; 
        width: 3000px;
        /* height: 1500px; */
        translate: 0% -55%;
        animation: logto 15s infinite alternate linear;  
    }
    .login {
        position: relative;
        z-index: 2;
        top: 0;
        left: 5;
        height: 70%;
        width: 70%;
        max-width: 460px;
        padding: 200px 90px;
        background: #000000; 
        margin: 50px auto;
    }
      
    .login > h2 {
        font-size: 32px;
        font-weight: 500;
        margin: 0 0 5px;
        color: rgb(255 255 255 / 96%);
    }
      
    .login > h3 {
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 30px;
        color: rgb(255 255 255 / 40%);
    }
      
    .form {
        margin: 0;
        gap: 16px; 
    }
      
    .textbox {
        position: relative;
        margin-bottom: 16px;
    }
      
    .textbox span {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        left: 0;
        font-size: 22px;
        pointer-events: none;
        color: rgb(255 255 255 / 40%);
    }
      
    .textbox input {
        padding: 0 24px 0 36px;
        border-bottom: 2px solid #2b3442;
        color: rgb(255 255 255 / 96%);
        height: 72px;
    }
      
    :is(input:focus, input:valid) ~ label {
        translate: -40px -40px;
        scale: 0.875;
    }
      
    input:focus ~ label {
        color: #216ce7;
    }
      
    input:focus {
        border-color: #216ce7;
    }
      
    :is(input:focus, input:valid) ~ span {
        color: rgba(252, 252, 252, 0.96);
    }
      
    .textbox label {
        position: absolute;
        top: 50%;
        left: 36px;
        translate: 0 -50%;
        color: rgb(255 255 255 / 40%);
        pointer-events: none;
        transition: 0.4s;
    }
      
    .form button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 0 24px;
        border-radius: 6px;
        background: #212be7;
        color: #f9f9f9;
        border: 0;
        font-family: inherit;
        font-weight: 600;
    }
      
    .login p {
        margin: 0 0 22px;
        color: #778395;
    }
      
    .login p > a {
        color: #216ce7;
        text-decoration: none;
    }