{% extends "base.html" %} {% load static %} {% block head_styles %}
<link rel="stylesheet" href="{% static 'CodeOPT/css/headerstyle.css' %}" />
<link rel="stylesheet" href="{% static 'CodeOPT/css/aboutusstyle.css' %}" />
{% endblock %} {% block header_content %}
<nav class="navbar">
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'about' %}">About Us</a>
  <a href="{% url 'study' %}">Study Material</a>
  <a href="{% url 'expert' %}">Expert Implementation</a>
  <div class="search-bar">
    <i class="uil uil-search"></i>
    <input type="text" placeholder="Search" />
  </div>
</nav>
{% endblock %} {% block main_content %}
<!-- Blurry box containing Team details -->
<div class="blurry-box">
  <div class="project-details">
    <h1>Project details</h1>
    <div class="project-info">
      <p>
        This project, CodeOPT, is designed to help developers improve their
        Django coding practices. The tool allows users to input code, which is
        then analyzed and optimized based on Django standards. By providing
        real-time feedback and recommendations, CodeOPT aims to streamline the
        learning process and enable users to write efficient, high-quality
        Django code. The project was inspired by the need for a handson,
        interactive resource that could guide developers toward best practices
        in web development with Django.
      </p>
    </div>
  </div>
</div>
{% endblock %}
