{% block footer_content %}
<section class="top">
    <img src="logo.png.jpg" />
    <ul>
      <li>
        <h3>Resources</h3>
        <a>Usage</a>
        <a>Docs</a>
        <a>Support</a>
        <a>Hardware</a>
      </li>
      <li>
        <h3>Pricing</h3>
        <a>Schemes details</a>
        <a>Expert Plan</a>
        <a>Monthly Plan</a>
        <a>Yearly Plan</a>
      </li>
      <li>
        <h3>Developers</h3>
        <a>Linked In</a>
        <a>Social Media Handle</a>
        <a>Gmail</a>
        <a>Contact No.</a>
      </li>
      <li>
        <h3>Company</h3>
        <a>About Us</a>
        <a>Team Memebers</a>
        <a></a>
        <a></a>
      </li>
    </ul>
  </section>

  <section class="bottom">© Code Crafters</section>
{% endblock %}