{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Atharv" />
    <title>Signup Page</title>
    <link rel="stylesheet" href="{% static 'CodeOPT/css/signupstyle.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0"
    />
  </head>
  <body>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <p class="{{ message.tags }}">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    <img
      class="dope"
      src="{% static 'CodeOPT/images/Polygon Luminary.svg' %}"
    />
    <div class="signup">
      <h2>Sign Up</h2>
      <h3>Let's Shape The Future With Data</h3>
      <form method="post" action="{% url 'signup' %}" class="form">
        {% csrf_token %}
        <div class="textbox">
          <input
            type="text"
            name="username"
            maxlength="150"
            autofocus
            required
            id="id_username"
          />
          <label for="id_username">Username:</label>
          <span class="material-symbols-outlined"> account_circle </span>
        </div>
        <div class="textbox">
          <input
            type="password"
            name="password1"
            autocomplete="new-password"
            required
            id="id_password1"
          />
          <label for="id_password1">Password:</label>
          <span class="material-symbols-outlined"> key </span>
        </div>
        <div class="textbox">
          <input
            type="password"
            name="password2"
            autocomplete="new-password"
            required
            id="id_password2"
          />
          <label for="id_password2">Password confirmation:</label>
          <span class="material-symbols-outlined"> key </span>
        </div>
        <p>
          Signed up already?
          <a href="{% url 'login' %}">Login here</a>
        </p>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
